{% set _blockNavbar = block('navbar') %}

{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta name='robots' content='noindex,nofollow' />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/widget.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/542e44eee1.js" crossorigin="anonymous"></script>

</head>
<body class="page-{{ page }} {{ body_classes }}">

    {% if _blockNavbar is not empty %}
    <nav class="region-navbar">
        {{ _blockNavbar|raw }}
    </nav>
    {% endif %}

    <main role="main" class="region-main h-100 ">

        <article class="region-content container-fluid h-100 ">
            {% block content %}{% endblock %}
        </article>

    </main>

    {% block bottom %}{%  endblock %}

</body>
</html>
