{% extends "inc/_layout.twig" %}

{% set path = "home" %}
{% set title = "Homepage | Roboform" %}
{% set body_classes = "page-home d-flex" %}

{% block navbar %}
    {%  include "inc/_navbar.twig" %}
{% endblock %}

{% block jumbotron %}
<h1 class="h2">Hi Mats!</h1>
{% endblock %}

{% block tabs %}
{% endblock %}

{% block content %}

{% endblock %}

{% block bottom %}

{% endblock %}
