<div class="navbar navbar-dark bg-dark">
    <a href="index.html" class="navbar-brand btn btn-primary">
        Protoype Example
    </a>
    <div class="navbar-nav">
        <a class="nav-link {{ path == 'forms' ? 'active' }}" href="page1.html">Page 1</a>
        <a class="nav-link {{ path == 'users' ? 'active' }}" href="page2.html">Page 2</a>
    </div>
</div>
